* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(235, 224, 132);
    color: rgb(17, 145, 177);
    font-size: 30px;
}

h1 {
    color: rgb(145, 9, 9);
    font-size: 30px;
}