:root {
    --primeira-cor: "#AF3800";
    --segunda-cor: "#FE621D";

    --borda: "#FD5200";

    --fundo: "#00CFC1";
    --text: "#00FFE7";
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
    font-size: 35px;
}

.conteudo {
    display: flex;
    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}